<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <title>Laudo Maker - Laudo</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrapValidator.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-select.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="navI" href="/">Criação de laudo</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Inicio</a>
                    </li>
                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <div class="page-header" align="center">
        <h1 class="text-primary">Laudo maker <small class="text-info">é um sistema para análises entomológicas em produtos alimentícios. Com ele você ganha produtividade em suas análises e garante laudos objetivos e eficientes.</small></h1>
    </div>

        <div class="container">
            <form class="well form-horizontal" action="/laudo-success" method="POST" id="info_form">
            <fieldset>
                <!-- Nome do form -->
                <legend>Informações da análise.</legend>
                <!-- CNPJ do cliente -->
                <div class="form-group">
                    <label class="col-md-4 control-label">CNPJ do cliente</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <select name="cnpj" class="form-control selectpicker" data-live-search="true">
                            <option vale="">Digite o CNPJ</option>
                            {% for cnpj in cnpjs %}
                            <option data-tokens="{{cnpj}}">{{cnpj}}</option>
                            {% endfor %}
                            </select>

                        </div>
                    </div>
                </div>
                <!-- Nome do produto -->
                <div class="form-group">
                    <label class="col-md-4 control-label">Nome do produto</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-shopping-cart"></i></span>
                            <input name="produtos_cliente" placeholder="Nome do Produto" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <!-- Quantidade dos produto -->
                <div class="form-group">
                    <label class="col-md-4 control-label">Quantidade do produto</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-shopping-cart"></i></span>
                            <input name="qtd_produtos" placeholder="Quantidade do Produto" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <!-- Numero do chamado -->
                <div class="form-group">
                    <label class="col-md-4 control-label">Numero do chamado</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input name="num_chamado" placeholder="Numero do chamado" class="form-control" type="text">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">O produto tinham embalagem ?</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-inbox"></i></span>
                                    <label class="form-inline radio-inline">
                                        <input id="sim_embalagem" type="radio" name="opcao_embalagem" value="Sim" >Sim
                                    </label>
                                    <label class="form-inline radio-inline">
                                        <input id="nao_embalagem" type="radio" name="opcao_embalagem" value="Não" checked>Não
                                    </label>
                        </div>
                    </div>
                </div>

                <div id="estado_embalagem">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Qual é o estado da embalagem ?</label>
                        <div class="col-md-4 ">
                            <div class="radio">
                                <label class="form-inline radio-inline">
                                    <input type="radio" name="estado_embalagem" value="Aberta">Aberta
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="estado_embalagem" value="Fechada">Fechada
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-4 control-label">Qual é o estado de conservação da embalagem ?</label>
                        <div class="col-md-4">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="estado_embalagem2" value="Sem alteracoes">Sem alterações Físicas
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="estado_embalagem2" value="Com orificios">Com orifícios
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="estado_embalagem2" value="Rasgada">Rasgada
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Haviam pragas ?</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-fire"></i></span>
                                    <label class="form-inline radio-inline">
                                        <input id="sim_praga" type="radio" name="Havia_pragas" value="Sim">Sim
                                    </label>
                                    <label class="form-inline radio-inline">
                                        <input id="nao_praga" type="radio" name="Havia_pragas" value="Não" checked>Não
                                    </label>
                        </div>
                    </div>
                </div>

                <div id="info-pragas">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Qual o nível de identificação ?</label>
                        <div class="col-md-4">

                            <div class="radio">
                                <label>
                                    <input id="classe" type="radio" name="identificação_pragas" value="Classe">Classe
                                </label>
                                <input id="text-class" type="text" name="classe_praga" placeholder="Digite a classe da praga">
                            </div>

                           <div class="radio">
                                <label>
                                    <input id="ordem" type="radio" name="identificação_pragas" value="Ordem">Ordem
                                </label>
                                    <input id="text-order" type="text" name="ordem_praga" placeholder="Digite a ordem da praga">
                            </div>

                           <div class="radio">
                                <label>
                                    <input id="familia" type="radio" name="identificação_pragas" value="Familia">Família
                                </label>
                                <input id="text-family" type="text" name="familia_praga" placeholder="Digite a familia da praga">
                            </div>

                           <div class="radio">
                                <label>
                                    <input id="genero" type="radio" name="identificação_pragas" value="Genero">Gênero
                                </label>
                                <input id="text-gender" type="text" name="genero_praga" placeholder="Digite o genero da praga">
                            </div>

                           <div class="radio">
                                <label>
                                    <input id="especie" type="radio" name="identificação_pragas" value="Especie">Espécie
                                </label>
                                <input id="text-species" type="text" name="especie_praga" placeholder="Digite a especie da praga">
                            </div>

                           <div class="radio">
                                <label>
                                    <input id="popular-name" type="radio" name="identificação_pragas" value="Nome popular">Nome Popular
                                </label>
                                <input id="text-name" type="text" name="nome_praga" placeholder="Digite o nome da praga">
                            </div>

                        </div>
                    </div>
                </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Conclusão da análise: </label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            <textarea class="form-control" name="comentario" placeholder="Conclusão da análise"></textarea>
                    </div>
                </div>
            </div>
                <!-- Mensagem de sucesso -->
            <div class="alert alert-success" role="alert" id="success_message"><i class="glyphicon glyphicon-thumbs-up"></i> Informações obtidas com sucesso.</div>


            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button id="enviar" type="submit" class="btn btn-warning" >Enviar <span class="glyphicon glyphicon-send"></span></button>
                </div>
</div>

            </fieldset>
            </form>
        </div>


    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.1.1.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrapValidator.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-select.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/defaults-pt_BR.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/laudo-script.js')}}"></script>

    </div>
</body>

</html>